<div class="container">
  <form #emailForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Enter Email</label>
      <input
        type="email"
        pattern=".+@.+\..+"
        name="email"
        [(ngModel)]="email"
        #emailControl="ngModel"
        placeholder="abc@abc.abc"
        required
        [ngClass]="{'is-danger': emailForm.invalid && emailControl.touched}"
      />
      <ng-container *ngIf="emailControl.invalid && emailControl.touched">
        <div class="help is-danger" *ngIf="emailControl.errors.required">
          *Email address is required.
        </div>
        <div class="help is-danger" *ngIf="emailControl.errors.pattern">
          *Please enter valid email.
        </div>
      </ng-container>
    </div>
    <button class="button is-primary" [disabled]="emailControl.invalid">Submit</button>
</form>
</div>

